{% extends "base.html" %}

{% block title %}
    Set New Password
{% endblock %}

{% block content %}
    <h1>
        Set New Password
    </h1>

    <div class="card">
        {% if validlink %}
            <p>
                Enter your new password below.
            </p>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit">
                    Change Password
                </button>
            </form>

        {% else %}
            <p>
                This password reset link is invalid or has expired.
            </p>

            <a href="{% url 'password_reset' %}" class="button">
                Request a New Request Link
            </a>
        {% endif %}
    </div>
{% endblock %}